.nap-bg-otten {
  background: #6DBF67;
}
.nap-bg-kulina {
  background: #F9423A;
}
.nap-bg-gramedia {
  background: #281E5A;
}
.nap-bg-photograph {
  background: #2DC89F;
}
.nap-bg-dark {
  background: #21212B;
}
.nap-color-white {
  color: white;
}